[submodule "lczero_tools"]
	path = lczero_tools
	url = https://github.com/so-much-meta/lczero_tools.git
[submodule "ChessAgent"]
	path = ChessAgent
	url = https://github.com/RyersonAI/ChessAgent
[submodule "ChessRobot"]
	path = ChessRobot
	url = https://github.com/RyersonAI/ChessRobot.git
[submodule "ChessVision"]
	path = ChessVision
	url = https://github.com/RyersonAI/ChessVision.git
